body{
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
   
}

h1{
  font-family: 'Sacramento', cursive;
    margin-top: 0 auto 0 auto;
    margin-bottom: 0px;
    font-size:  700%;
    color: hsl(133, 41%, 57%);
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 250%;
    color: rgb(218, 64, 37);
    
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}
.pro{
    color: red;
    
}
hr{
    border: dotted;
    width: 40%;
    border-bottom: none;
    margin: 100px auto;
    color: #66BFBF
}
.profile{
    margin: 20px auto 0 auto;
}
.profile img {
    width: 180px;
    height: 180px;
    border-radius: 80px;
}
a{
    
        color: #11999E;
        font-family: 'Montserrat', sans-serif;
        margin: 10px 20px;
        text-decoration: none;

}
a:hover{
   color: #EAF6F6 
}
.top-container{
   padding: 5%;
    background-color: rgb(117, 209, 201);
}
.bottom-container{
    background-color: #6FBFBF;
    padding: 60px 0 20px;
}

.top-cloud{
  position: absolute;
  top: 100px;
  right: 5px;  
  width: 400px;
}
.bottom-cloud{
    position: absolute;
    bottom: 600px;
    left: 100px;
    width: 400px;
}
.mountain{
    padding-bottom: 10px;

}

.contact-me {
    width: 40%;
    margin: 40px auto 60px;

}

.btn {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #3498db);
    background-image: -moz-linear-gradient(top, #30e3cb, #3498db);
    background-image: -ms-linear-gradient(top, #30e3cb, #3498db);
    background-image: -o-linear-gradient(top, #30e3cb, #3498db);
    background-image: linear-gradient(to bottom, #30e3cb, #3498db);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

  .copyright{
      color:#EAF6F6;
      font-size: 0,75 em;
  }

  .skills{
      margin:20px auto 20px auto;
  }